<section>
    <nav>
        <div>
            <h1>The House</h1>
        </div>

        <div>
            <ul>
                <li><a style="text-decoration: none; color: white; border-bottom: 1px solid white;" routerLink="/login">Login</a></li>
                |
                <li><a style="text-decoration: none; color: white; border-bottom: 1px solid white;" routerLink="/cadastro">Cadastro</a></li>
            </ul>
        </div>
    </nav>

    <section class="content">

         <div class="contentTitle">
            <h1 style="text-align: center;">Bem vindo ao <br>The house!</h1>
         </div>

         <div class="contentBox">
            <div>
                <p>O The House é um sistema desenvolvido para facilitar a gestão financeira e organizacional de uma residência. Sua principal função é permitir o controle eficiente de despesas e atividades domésticas, oferecendo uma solução centralizada para diversos aspectos do dia a dia.</p>
            </div>
            
            <div>
                <p>O The House é uma solução completa para quem busca praticidade e organização no dia a dia doméstico.</p>
            </div>
         </div>

    </section>

    <section class="utilities">

        <div class="utilitiesTitle">
            <h1>Utilidades</h1>
        </div>

        <div class="utilitiesCard">
            <div>
                <p>Controle de gastos mensais</p>
            </div>
            <div>
                <p>Armazenamento de informações</p>
            </div>
            <div>
                <p>Controle de compras</p>
            </div>
            <div>
                <p>Sugestão de entretenimento</p>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="contactTitle">
            <h1>Fale conosco</h1>
        </div>

        <div class="contactCliqueAqui">
            <a id="idEmail" href="#">Clique aqui!</a>
        </div>
    </section>

    <app-footer></app-footer>
</section>